.map-wrap {
   padding: 10px;
   position: relative;
   z-index: 1;
}

.map {
   width: 100%;
   height: 350px;
   overflow: hidden;
   border: 0;
   border-radius: 25px;
}

.leaflet-container .leaflet-control-attribution {
   background: transparent !important;
   background: rgba(0, 0, 0, 0) !important;
}

.leaflet-control-container {
   display: none;
}

/* All places map */

.bg-map-section {
   background: var(--nav-background);
   height: 100%;
}

.bg-map-section h1 {
   font-family: 'Times New Roman', Times, serif;
   text-align: center;
   padding-top: 20px;
   color: var(--dark-cyan);
}

.bg-map-section p {
   text-align: center;
   color: var(--dark-cyan);
   margin: 10px;
}

.map-container {
   display: grid;
   grid-template-columns: auto auto;
   gap: 10px;
   padding-right: 10px;
}

.info-map {
   background: rgba(255, 255, 255, .6);
   width: 500px;
   margin: auto;
   padding: 20px;
   border-radius: 30px;
}

.info-header-map {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.info-header-map h2 {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.bg-map-wrap {
   position: relative;
   width: clamp(350px, 70vw, 900px);
   height: 450px;
   margin: 30px auto 30px auto;
   border: 4px solid #8b6f47;
   border-radius: 25px;
   padding: 8px;
   background: #d5c19a;
   box-shadow: inset 0 0 0 2px #b89a68,
      0 5px 15px rgba(0, 0, 0, 0.15);
   overflow: hidden;
   z-index: 1;
}

.bg-map {
   width: 100%;
   height: 100%;
   overflow: hidden;
   border-radius: 18px;
}

.marker-pin {
   width: 50px;
   height: 50px;
   background-color: #7a6a4a;
   border-radius: 50% 50% 50% 0;
   transform: rotate(-45deg);
   display: flex;
   justify-content: center;
   align-items: center;
   border: 3px solid #d3c392;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.marker-pin img {
   width: 22px;
   height: 22px;
   transform: rotate(45deg);
   filter: brightness(0) saturate(100%) invert(91%) sepia(10%) saturate(422%) hue-rotate(341deg) brightness(97%) contrast(88%);
}

.legend {
   display: grid;
   grid-auto-flow: row;
   grid-template-columns: repeat(2, 1fr);
   justify-content: center;
   align-items: center;
   width: auto;
   height: auto;
   margin: auto;
   padding: 7px;

}

.legend h2 {
   font-family: 'Times New Roman', Times, serif;
   color: var(--dark-cyan);
   text-align: center;
   margin-top: 20px;
   margin-bottom: 10px;
}

.legend-item {
   display: flex;
   align-items: center;
   margin: 20px;
   padding: 10px;
   border-radius: 15px;
   background: rgba(255, 255, 255, .5);
   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.marker-legend {
   width: 50px;
   height: 50px;
   background-color: #7a6a4a;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 3px solid #d3c392;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
   margin-right: 15px;
}

.waterfall-icon {
   width: 25px;
   height: 25px;
   filter: brightness(0) saturate(100%) invert(91%) sepia(10%) saturate(422%) hue-rotate(341deg) brightness(97%) contrast(88%);
}

@media (min-width: 993px) and (max-width: 1280px) {
   .map-container {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 20px;
   }
.info-map {
    width: clamp(350px, 70vw, 750px);
}
   .legend {

      grid-template-columns: repeat(3, 1fr);


   }
}


@media (min-width: 769px) and (max-width: 992px) {
   .map-container {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 20px;
   }

   .map-container h2 {
      display: flex;
      align-items: center;
      font-size: 22px;
      color: #4d5b46;
      padding: 30px;
   }

   .legend {

      grid-template-columns: repeat(3, 1fr);

   }

   .legend-item {
      width: 200px;
      margin: 10px;
   }
}

@media (min-width: 601px) and (max-width: 768px) {

   .legend {
      grid-template-columns: repeat(2, 1fr);
   }

   .legend-item {
      width: 200px;
      height: 70px;

      margin: 10px;
   }

   .map-container {
      grid-template-columns: repeat(1, 1fr);
      padding-bottom: 20px;
   }
}

@media screen and (max-width: 600px) {
   .info-map {
      max-width: 350px;
   }

   .bg-map-wrap {
      max-width: 350px;
   }

   .map-container {
      grid-template-columns: auto;
   }

   .info-header-map h2 {
      font-size: 20px;
   }

   .legend {
      grid-template-columns: repeat(2, 1fr);
   }
}